<table id="table" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th id="name"> Name </th>
        <th id="date"> Date </th>
        <th id="number"> Number </th>
        <th name="description"> Description</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each  do |user|%>
      <tr data-item-id=<%= "#{user.id}"%>>
        <td><%=user.name%></td>
        <td><%=user.date%></td>
        <td><%=user.number%></td>
        <td><%=user.description%></td>
      </tr>
      <%end%>
    </tbody>
  </table>