<%= flash[:notice]%>

<div class="container">
  <div class="col">
    <h3> Select file to import data</h3>
    <%= form_tag import_users_path, multipart: true do %>
      <%= file_field_tag :file%>
      <%= submit_tag "Import", class: "btn btn-warning"%>
    <% end%>
  </div>
  <input type="text" id="input-search" onkeyup="lookUp()" placeholder="Search for names..">

  <%= render partial: 'table', colecction: @users %>
</div>






